.aboutpage_section {
    background-color: #FFFFFF;
    float: left;
    margin-top: -20px;
    padding: 21px 0;
    width: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
.a_clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.a_clearfix {
    display: block;
}
.our_team {
    background-color: #EEEEEE;
    float: left;
    padding: 17px 0;
    text-align: center;
    width: 100%;
}
.b_container {
    margin: auto;
    width: 1170px;
}
.our_team h1 {
    font-size: 40px;
    font-weight: normal;
    margin: 0 0 50px;
    padding: 0;
    text-transform: uppercase;
}
h1 {
    font-size: 40px;
    font-style: normal;
    line-height: 40px;
    margin-bottom: 22px;
}
/*h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-family: 'Roboto',sans-serif;
    font-weight: normal;
}*/
strong {
    font-weight: bold;
}
.our_team h1 i {
    color: #727272;
    display: block;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    padding-top: 18px;
}
cite, em, i {
    font-style: italic;
}
.our_team .one_fourth {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    float: left;
    margin-right: 2%;
    padding: 40px 2%;
    width: 19.5%;
}
.one_fourth {
    width: 22%;
}
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth {
    float: left;
    margin-right: 4%;
    position: relative;
}

a {
    color: #0CBABB;
    text-decoration: none;
}
.our_team .one_fourth img {
    border-radius: 4px;
    width: 94%;
}

.mar_top2 {
    float: left;
    margin-top: 20px;
    width: 100%;
}

p {
    font: 14px/22px 'Open Sans',sans-serif;
}
.c_last {
    clear: right;
    margin-right: 0 !important;
}
#parallax_01 {
    /*background-attachment: fixed;*/
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../image/para-bg1.jpeg);
    background-origin: initial;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    min-height: 100px;
    padding: 100px 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.parallax_sec1 {
    float: left;
    width: 100%;
}
.parallax_sec1 h1 {
    color: #FFFFFF;
    font-size: 58px;
    line-height: 58px;
    margin-bottom: 30px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.parallax_sec1 h2 {
    color: #FFFFFF;
    font-weight: 300;
}
h2 {
    font-size: 27px;
    font-style: normal;
    line-height: 27px;
    margin-bottom: 22px;
}
.mar_top3 {
    float: left;
    margin-top: 30px;
    width: 100%;
}
.parallax_sec1 a.but_transp {
    background: url("images/opacity-line.png") repeat scroll left top rgba(0, 0, 0, 0);
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 13px 30px;
    text-transform: uppercase;
}
.our_team .one_fourth:hover {
    background-color: #F26522 !important;
    color: #FFFFFF !important;
}
.parallax_sec1 a.but_transp:hover {
    background: none repeat scroll 0 0 #F26522 !important;
    color: #FFFFFF !important;
}
.blog_part{
	height:350px;}
	

.section_bg2 {
	position: absolute;
	top: 0;
	background-size: cover;
	/*background-attachment: fixed;*/
	/*background-size: 100% 100%;*/
	z-index: 1;
	width: 100%;
	/*height: 100%;*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.section_inner2 { padding:30px 0;}
.section_inner2 {
	width:1149px;
	margin:0 auto;
	/*position:relative;*/
	z-index:3;
	}
	
	.last2{
	margin-bottom: 95px;
    margin-right: 0 !important;}
	
.login{
	float:right;
	margin-right:10px;
	}
.bann{color: #444444;
    float: left;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: normal;
    margin-bottom: 4px;
	margin-top:10px;}
	
.butto{margin-top:19px;
 }
	
#butto{
	background-color: #333333;
    color: #FFFFFF;
    padding: 4px;
    width: 61px;
	}
.logi{
	height:23px;
	}
.rounded{
	border: 2px solid #B2B2B2;
	border-radius:50%;
	height: 30px;
    width: 30px;
	margin:0 auto;}
.rounded_in{
	
    }
	
.middl{
	text-align: center;
	}
.clor{ color:#D94800;}