*, *:before, *:after { box-sizing: border-box; vertical-align: middle !important; }
*, *:before, *:after { box-sizing: border-box; }
.site-min-height_x { min-height: 500px; }
.site-min-height_xx { min-height:385px; }
.wrapper_x { display: inline-block; margin-top: -57px; padding: 15px; width: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
*, *:before, *:after { box-sizing: border-box; }
 *::-moz-selection {
 background: none repeat scroll 0 0 #1FB5AD;
 color: #FFFFFF;
}
.row_x { margin-left: 70px; margin-right: 72px; }
.row_x:after { clear: both; }
.row_x:before, .row_x:after { content: " "; display: table; }
.row_x:before, .row_x:after { content: " "; display: table; }
*, *:before, *:after { box-sizing: border-box; }
.col-lg-12 { width: 100%; }
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { min-height: 1px; padding-left: 15px; padding-right: 15px; position: relative; }
.hd-title_x { font-size: 33px; margin:86px 0 45px; color:#D94800; font-weight:bold; }
.col-lg-4 { width: 33.333%; }
.panel_x { border: medium none; box-shadow: none; }
.panel_x { background-color: #FFFFFF; border: 1px solid rgba(0, 0, 0, 0); border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); margin-bottom: 20px; }
.panel-body_x { padding: 15px; vertical-align:middle; }
.panel-body_x:before, .panel-body_x:after { content: " "; display: table; }
.panel-body_x:before, .panel-body_x:after { content: " "; display: table; }
.panel-body_x:after { clear: both; }
img { vertical-align: middle; }
img { border: 0 none; }
.id-holder { clear:both; }
.id-holder h3 { text-align:center; width:100%; display:block; font-weight:900; }
.bio h4 { font-size: 13px; margin-bottom: 0; min-height:70px; text-align: center; }
.one_fourth-l { width:30.6%!important; float:left; margin-right:4%; margin-bottom:25px; position:relative; }
.staff-role { text-align:center; color:#C30; text-transform:uppercase; font-weight:900; min-height:50px; }
ul.p-skills { font-weight: normal; padding-left: 15px; text-align: left; }
ul.p-skills li { background: none repeat scroll 0 0 #fff; border: 1px dotted #d0d0d0; clear: right; color: #333; display: inline; float: left; font-size: 95% !important; list-style: none outside none; margin-bottom: 4px; margin-right: 1%; padding: 2px 8px; }
ul.p-skills { min-height:130px; }
.img-holder { float:left; width:200px; margin:13px; height:200px; }
.info-holder { float:left; margin-top:13px; width:113px; }
.year-exp { background:#f7c772; border-bottom: 1px solid #fff; border-right: 1px solid #fff; color: #000; float: left; font-weight: normal; height: 30px; line-height: 29px; margin-bottom: 3px !important; min-height: 0 !important; text-align: left; text-indent: 10px; text-transform: none !important; width: 113px; clear:both!important; }
.bio span.view-btn { float: left !important; height: 30px !important; line-height: 29px !important; margin-right: 0 !important; margin-top:0px !important; text-align: left; text-indent: 8px; width: 113px !important; min-height:inherit!important; }
.skill-cls { background:#D3E474; float:left; width:100%; clear:both; line-height:32px; font-size:15px; text-align:center; text-transform:uppercase; color:#fff; margin-bottom:5px; }
.rank { color: #000; float: left; text-align:center; line-height: 29px; margin-bottom: 3px; text-indent: 10px; width: 113px; }
.rank-count { position:relative; clear:both; margin-bottom:12px; float:left; width:100%; height:100%; text-align:center; font-size:36px; font-weight:900; vertical-align:middle; color:red; }
.inner-pag-title { background:#2991d6; display:block; }
.inner-pag-title .inner { color: #fff; display: table; font-family: sans-serif; font-size: 28px; font-weight: lighter; line-height: 78px; text-align: left; text-transform: uppercase; }
.page-title { text-transform:uppercase; font-size:35px; margin-bottom:15px; color:#2991d6; }
.reg-pag-title { color: #fff!important; font-family:sans-serif!important; font-size:28px!important; font-weight:lighter!important; text-align:left!important; text-transform:uppercase!important; }
.reg-logi { background:#FFF; color:#000; text-align:left; padding:8px; line-height:24px; font-family:sans-serif; font-size:12px;border:none!important; height:30px!important; }
.reg-log-btn { border: medium none !important;  margin-right: 0 !important; margin-top: 16px !important; padding: 7px 0 !important; text-transform: uppercase; }
.footer-cont { background: none repeat scroll 0 0 #7c7c7c; border-radius:4px; font-size: 13px; line-height: 22px; padding: 15px 20px; }
ul.slides li img { height:450px!important; }
 @media screen and (min-width:0px) and (max-width:720px) {
.servi-img{float:right;position:inherit!important; top:0px!important;right:0;width:100%!important;z-index:1000;}
 .blog_part {
display:none;
}
 .b_container {
width:auto!important;
}
 .callOut_Text {
padding:0 10px;
width:92%!important;
text-align:center;
}
 #footer {
padding:20px 15px!important;
}
 #footer .inner {
width: 100% !important;
}
 .footer-sidebar .one_half {
margin-top:15px!important;
}
 #footer .inner .copyright {
width:90% !important;
}
 #back-top {
display:none!important;
}
 #wrapper {
overflow-x:hidden!important;
}
 .inner .bann {
clear:both;
width:100%;
}
 .inner .form-signin {
clear:both;
width:100%;
}
 .form-signin .login {
clear:both;
width:100%;
margin-top:0!important;
}
 .form-signin .login p {
text-align:right;
}
 .form-signin .login p #butto {
float:left;
}
 .form-signin input.reg-logi {
width:100%;
}
 .flexslider .slides img {
height:auto!important;
}
.respon-bbp{width:100%!important;}
.step-image:after{width:15%!important;}
.ho-po-bo2 .line2{left:70px!important; margin-top:-125px!important;}
.mid-btn{width:100%!important;}
.mid-btn div.mid{display:none!important;}
.inner-side{padding-left:48px; padding-right:48px;}
.ser-vi-li{width:100%!important;}
.why-dpoj{float:right; position:inherit!important; width:100%!important;}
}
 @media screen and (min-width:720px) and (max-width:1024px) {
	 /*.site-min-height_xx { min-height:455px; }*/
.servi-img{float:right;position:inherit!important; top:0px!important;right:0;width:100%!important;z-index:1000;}
.why-dpoj{float:right; position:inherit!important; width:100%!important;}
 .blog_part {display:none;}
.ser-vi-li{width:100%!important;}
.inner-side{padding-left:75px; padding-right:75px;}
.mid-btn div.mid{display:none!important;}
 .b_container {
width:auto!important;
}
 .callOut_Text {
padding:0 10px;
width:96%!important;
text-align:center;
}
 #footer {
padding:20px 15px!important;
}
 #footer .inner {
width: 100% !important;
}
 .footer-sidebar .one_half {
margin-top:15px!important;
}
 #footer .inner .copyright {
width:90% !important;
}
 #back-top {
display:none!important;
}
 #wrapper {
overflow-x:hidden!important;
}
 .inner .bann {
clear:both;
width:100%;
}
 .inner .form-signin {
clear:both;
width:100%;
}
 .form-signin .login {
clear:both;
width:100%;
margin-top:0!important;
}
 .form-signin .login p {
text-align:right;
}
 .form-signin .login p #butto {
float:left;
}
 .form-signin input.reg-logi {
width:100%;
}
 .flexslider .slides img {
height:auto!important;
}
.step-image:after{width:60%!important;}
.ho-po-bo2 .line2{left:110px!important; margin-top:-88px!important;}
.mid-btn{width:90%!important;}
}
h4 .headline-middle-line { margin-bottom: 6px; }
.headline-middle-line { border-bottom: 1px solid #e3e3e3; display: inline-block; margin-left: 15px; width: 57%; }
.popo-ul { list-style:none; }
.popo-ul li { font-size:14px; }
.pale-gray-bg { background: none repeat scroll 0 0 #f2f2f2; transition: background 0.3s ease 0s; }
.pale-border-bottom { border-bottom: 1px solid #ccc; }
.pale-border-top { border-top: 1px solid #ccc; }
.full-width-container, .fullwidth { width: 100%; }
.padding-bottom48 { padding-bottom: 48px; }
.container { max-width: 1140px; margin:0 auto; }
.padding-top48 { padding-top: 48px; }
.col-md-3 { width: 33.333%; float:left; text-align:justify; }
.relative { position: relative; }
.text-center { text-align:left; }
.po-para { display:flex; }
.po-para p { text-align:justify; padding:0 20px; }
.services-content blockquote { min-height:50px; background:#f7f7f7; float:left; border-left:solid 5px #CCC; padding:15px 30px 30px; margin-bottom:30px; }
.services-content blockquote p { float:left; text-align:justify; color:#333; }
.services-content blockquote h3 { float:left; font-weight:600; }
 .services-content blockquote:nth-child(2n) {
border-left:solid 5px #333;
background:#fff;
}
.hs_contact_heading { color: #00ac7a; display: inline-block; margin: 30px auto; padding-bottom: 15px; position: relative; }
.hs_contact_heading:before { border-bottom: 2px solid #7f9aa0; bottom: 0; content: ""; height: 2px; left: 50%; margin-left: -25%; position: absolute; width: 65px; }
.hs_contact_heading { color: #00ac7a; display: inline-block; margin: 30px auto; padding-bottom: 15px; position: relative; }
.hs_contact_head_text { float: left; text-align: center; width: 100%; }
.hs_heading, .rounded { color: #00ac7a; margin: 30px auto; padding-bottom: 15px; position: relative; }
.hs_heading:before { border-bottom: 2px solid #7f9aa0; bottom: 0; content: ""; height: 2px; left: 0; position: absolute; width: 65px; }
.hs_comment_form { border-bottom: 2px solid #00ac7a; }
.hs_comment_form { background: none repeat scroll 0 0 #f5f5f5; border-bottom: 2px solid #00ac7a; float: left; margin-bottom: 30px; padding: 20px; width: 100%; }
.col-lg-6 { width: 50%; }
.hs_comment_form .input-group { margin-bottom: 20px; }
.input-group { border-collapse: separate; display: table; position: relative; }
.input-group-btn { font-size: 0; position: relative; white-space: nowrap; }
.input-group-addon, .input-group-btn { vertical-align: middle; white-space: nowrap; width: 1%; }
.input-group .form-control, .input-group-addon, .input-group-btn { display: table-cell; }
.input-group-btn > .btn { position: relative; }
.hs_comment_form span.bttl { padding: 10px 20px; }
.btn-success { background-color: #00ac7a; border-color: #00ac7a; }
.btn-success { background-color: #00ac7a; border-color: #017d59; color: #fff; }
.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group { margin-right: -1px; border:solid 1px #017d59; }
.input-group .form-control { float: left; margin-bottom: 0; position: relative; width: 100%; z-index: 2; }
.form-control { background-color: #fff; background-image: none; border: 1px solid #ddd; color: #555; display: block; font-size: 14px; height: 40px; line-height: 1.42857; padding: 6px 16px; transition: all 0.3s ease 0s; width: 100%; }
textarea.form-control { height: auto; }
.hs_comment_form textarea { margin:15px auto; resize: none; width: 100%; }
.btn-success { background-color: #00ac7a; border-color: #00ac7a; }
.pull-right { float: right; }
.col-lg-4 { width: 33.3333%; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 { float: left; }
.col-md-5 { width: 41.6667%; }
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 { float: left; }
.col-sm-5 { width: 41.6667%; }
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 { float: left; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { min-height: 1px; padding-left: 15px; padding-right: 15px; position: relative; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { min-height: 1px; padding-left: 15px; padding-right: 15px; position: relative; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { min-height: 1px; padding-left: 15px; padding-right: 15px; position: relative; }
.hs_contact { border-bottom: 2px solid #7f9aa0; float: left; margin-bottom: 20px; padding: 20px; width: 100%; }
.hs_contact p { /* line-height: 35px;*/}
.hs_contact ul { list-style: none outside none; padding-left: 0; }
.hs_contact ul li { border-bottom: 1px solid #dddddd; padding-bottom: 10px; padding-top: 10px; }
.hs_contact ul li:last-child { border-bottom: medium none; }
.hs_contact ul li i { background: none repeat scroll 0 0 #00ac7a; border: 1px solid #00996d; color: #fff; float: left; font-size: 28px; height: 46px; margin-right: 20px; padding: 8px 10px; text-align: center; width: 50px; }
.hs_contact_social { background: none repeat scroll 0 0 #f5f5f5; border-bottom: 2px solid #00ac7a; float: left; padding: 25px 20px 20px; width: 100%; }
.hs_contact_social > .hs_profile_social > ul > li { margin-right: 10px; }
.hs_contact_social > .hs_profile_social > ul > li > a { padding: 11px 15px; }
.hs_contact_social > .hs_profile_social > ul > li > a > i { font-size: 20px; }
.hs_additional_support { border-bottom: 2px solid #7f9aa0; float: left; margin-bottom: 60px; margin-top: 20px; padding: 20px; text-align: center; transition: all 0.5s ease 0s; width: 100%; }
.hs_additional_support:hover h4 { color: #00ac7a; }
.hs_additional_support:hover { background: none repeat scroll 0 0 #f9f9f9; border-bottom-color: #00ac7a; transition: all 0.5s ease 0s; }
.hs_contact_social > .hs_profile_social > ul > li > a { padding: 11px 15px; }
.hs_profile_social ul li a { border: 1px solid #7f9aa0; color: #7f9aa0; padding: 5px 7px; text-align: center; transition: all 0.5s ease 0s; }
.hs_contact_social { background: none repeat scroll 0 0 #f5f5f5; border-bottom: 2px solid #00ac7a; float: left; padding: 25px 20px 20px; width: 100%; }
.hs_contact_social > .hs_profile_social > ul > li { margin-right: 10px; }
.hs_contact_social > .hs_profile_social > ul > li > a { padding: 11px 15px; }
.hs_contact_social > .hs_profile_social > ul > li > a > i { font-size: 20px; }
.hs_additional_support { border-bottom: 2px solid #7f9aa0; float: left; margin-bottom: 60px; margin-top: 20px; padding: 20px; text-align: center; transition: all 0.5s ease 0s; width: 100%; }
.hs_additional_support:hover h4 { color: #00ac7a; }
.hs_additional_support:hover { background: none repeat scroll 0 0 #f9f9f9; border-bottom-color: #00ac7a; transition: all 0.5s ease 0s; }
.hs_icon { margin-bottom: 40px; }
.hs-icon-list { margin-top: 22px; }
.hs-icon-list .fa-hover a { border-radius: 4px; color: #222222; display: block; height: 32px; line-height: 32px; padding-left: 10px; }
.hs-icon-list .fa-hover a .fa { display: inline-block; font-size: 14px; margin-right: 10px; text-align: right; width: 32px; }
.hs-icon-list .fa-hover a:hover { background-color: #00ac7a; color: #ffffff; text-decoration: none; }
.hs-icon-list .fa-hover a:hover .fa { font-size: 28px; vertical-align: -6px; }
.hs-icon-list .fa-hover a:hover .text-muted { color: #bbe2d5; }
.hs_profile_social ul li { display: inline-block; }
.col-lg-4 { width: 33.3333%; }
.col-lg-8 { width: 66.6667%; }
.col-md-12 { width: 100%; }
#timeline-wrap { background: none repeat scroll 0 0 #fff; margin-bottom: 30px; overflow: hidden; padding: 30px; }
#timeline-wrap h3 { color: #000; font-size: 20px; margin: 0 0 25px; text-align: center; text-transform: uppercase; }
#timeline { background: none repeat scroll 0 0 #fff; list-style: none outside none; overflow: hidden; position: relative; width: 100%; z-index: 1; }
#timeline li { background: none repeat scroll 0 0 #fff; border: 1px solid #e5e5e5; clear: both; cursor: pointer; float: left; margin: 0 0 -1px !important; padding: 20px 25px; position: relative; transition: all 0.3s ease 0s; }
#timeline li:last-child { margin: 0 !important; }
#timeline li:nth-of-type(2n+1), #timeline li:nth-of-type(2n) {
 margin: 0px 0 0;
}
#timeline li:nth-of-type(2n) {
 float: right;
 text-align: left;
}
#timeline .t-time { color: #000; font-size: 16px; font-weight: 400; position: relative; }
#timeline .t-time span { color: #000; display: block; font-family: Roboto; font-size: 13px; }
#timeline p { color: #898989; font-size: 13px; font-weight:400; line-height: 18px; margin: 0; padding: 22px 0 0; }
.t-left { position: relative; }
.t-right { position: relative; }
#timeline li:hover { background: none repeat scroll 0 0 #0db1fd; transition: all 0.3s ease 0s; }
#timeline li:hover .t-time, #timeline li:hover .t-time span, #timeline li:hover p { color: #fff; transition: all 0.3s ease 0s; }
#timeline .t-right:hover .t-time:before, #timeline .t-left:hover .t-time:before { background: none repeat scroll 0 0 #fff; transition: all 0.3s ease 0s; }
 #timeline li:nth-of-type(2n+1), #timeline li:nth-of-type(2n) {
 margin:0px 0 0;
}

.what-we-do { background:#e3e3e2; padding:30px 0; margin:0 auto; border-top:solid 2px #c5c5c4; }
.section-features .feature-rotate-second { backface-visibility: hidden; margin-left:7px; margin-top:30px; transition:all 0.7s ease 0s; width:95%; }
.section-features .h-article { background-color:#f7f7f7; border:1px solid white; box-shadow:0 0 5px rgba(23, 23, 23, 0.2); padding:20px; }
.section-features .box-inner { background-color:white; box-shadow:0 0 5px rgba(23, 23, 23, 0.2); padding:15px; text-align:center; }
.section-features .box-inner header h4.entry-title { font-size:15px; text-transform:uppercase; color:#333; font-weight:900; }
.section-features .box-inner header h6.sub-info { font-size:13px; color:#a0a0a0; font-weight:500; }
.separator-box { background: url("img/zigzag-2.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0); height: 4px; margin-bottom:15px; margin-top:15px; width: 100%; }
.entry-summary { line-height:20px; margin-top:10px; font-size:14px; }
.easiest { background:#fff; padding:30px 0; margin:0 auto; border-top:solid 2px #c5c5c4; }
#job-step { background: none repeat scroll 0 0 #ffffff; padding:10px 0 15px; text-align: center; }
.job-step-title { color: #565656; font-size: 38px; margin-bottom: 19px; }
.job-step-desc { color: #959595; line-height: 22px; margin-bottom: 59px; }
.step-wrapper { display: inline-block; text-align: center; }
.step-number { margin-bottom:10px; font-size:13px; }
.step-image { border: 1px solid #c0d0cd; border-radius: 5px; height: 127px; line-height: 127px; margin: 0 auto; position: relative; text-align: center; width:127px; }
.step-image:after { background: none repeat scroll 0 0 #c0d0cd; content: ""; display: block; height: 1px; left: 147px; position: absolute; top: 62px; width:208px; }
.step-image.step-last:after { display: none; }
.step-title { font-size:18px; margin-top:15px; }
.ho-po-bo, .ho-po-bo2, .ho-po-bo3 { background:#8cbeb2; text-shadow:#888 0 1px 0; color:#FFF; padding:10px; margin-top:25px; text-align:center; display:inline-block; font-size:16px; font-weight:900; text-transform:uppercase; width:100%; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; }
.ho-po-bo2 { background:#95c300; z-index:2; margin-top:85px; position:relative; display:table; }
.ho-po-bo2 .line { background: none repeat scroll 0 0 #c0d0cd; height:1px; left:0; margin-top:-48px; position:absolute; width:100%; }
.ho-po-bo2 .line2 { background: none repeat scroll 0 0 #95c300; height:141px; left:175px; margin-top:-100px; position:absolute; right:0; width:1px; z-index:-1; }
.ho-po-bo3 { background:#95c300; }
.support { background:#f6f6f6; border-top:solid 1px #e4e4e4; padding:25px 0 10px 0; margin:0 auto; margin-top:30px; margin-left:15px; margin-right:15px; }
.support span { width:20%; padding:0px 10px; font-size:15px; text-transform:uppercase; color:#444; display:inline-block; text-align:left; }
 .support span:nth-child(4n) {
width:16%;
}
 .support span:nth-child(2n) {
width:18%;
}
.support span .i1 { width:70%; height:3px; background:#9a9a9a; display:table-caption; }
.support span .i2 { width:70%; height:3px; background:#9a9a9a; display:table-caption; }
.support span .i3 { width:70%; height:3px; background:#9a9a9a; display:table-caption; }
.support span .i4 { width:70%; height:3px; background:#9a9a9a; display:table-caption; }
.support span .i5 { width:70%; height:3px; background:#9a9a9a; display:table-caption; }
.mid-btn { vertical-align:middle; display:flex; text-align:center; width:60%; margin:0 auto; padding:35px 0 25px; }
.mid-btn div.left { background:#17607d; float:none; text-align:center; line-height:49px; display:inline-block; width:70%; color:#FFF; font-size:13px; text-transform:uppercase; -webkit-border-radius:2px 0 0 2px; -moz-border-radius:2px 0 0 2px; border-radius:2px 0 0 2px; }
.mid-btn div.mid { background: url(img/mid-btn.png) no-repeat; float:none; display:inline-block; width:12%; height:49px; }
.mid-btn div.right { background:#0096ff; float:none; display:inline-block; width:70%; color:#FFF; font-size:13px; text-transform:uppercase; text-align:center; line-height:49px; -webkit-border-radius:0 2px 2px 0; -moz-border-radius:0 2px 2px 0; border-radius:0 2px 2px 0; }


.new-top-en{display:block;}
.new-top-en .lef .avator{background:#ddd; width:100px; float:left; height:100px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.new-top-en .lef .avator img{width:100%; height:100%; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.new-top-en .rig{display:table; float:left; width:91.2%; padding-left:15px;}
.new-top-en .rig a.name{float:left; color:#090; line-height:20px; font-family:"Open Sans ,Arial,sans-serif"; font-weight:400; font-size:24px;}
.new-top-en .lef{float:left; width:100px;}
.p_button{position:relative;color:#959595; font-family:Arial; display:block;text-decoration:none; text-align:center; padding:4px 10px; -webkit-transition: all 0.7s ease; transition: all 0.7s ease; text-shadow:none; font-size:10px; font-weight:800; text-transform:uppercase; text-shadow:#FFF 0 1px 0; margin-left:5px; float:right; -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; background:-moz-linear-gradient(center top , #ffffff 1px, #f0f0f0 1px, #ececec) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ddd;}


.new-top-en .rig span{font-family:Arial; font-size:12px; color:#333; text-transform:uppercase; float:left;}
.new-top-en .rig span strong span{color:#06f; float:none;}
.new-top-en .rig p{font-family: "Open Sans",Arial,sans-serif; font-size:14px; clear:both; padding:8px 0 8px 0; text-align:justify;}
.new-top-en .rig p a{padding:0 8px;}
ul.cat-link {list-style: outside none none;clear:both;}
ul.cat-link li {background: none repeat scroll 0 0 #e6eaea; border-radius:2px; display: inline-block; line-height: normal; list-style: outside none none; margin: 0 1px 4px 0;
    padding:0px 6px 2px; text-align: center; vertical-align: middle;}
ul.cat-link li a { font-size:12px; text-shadow:#FFF 0 1px 0;  font-family:Arial; color:#333; text-decoration: none;}


.top-con-ser{min-height:20px; margin-bottom:30px; float:left; width:100%;}
.top-con-ser h2{float:left;}
.font-ser{float:right;}
.font-ser label{font-size:14px; color:#888888;}
.font-ser label input{border:solid 3px #ddd; width:300px; padding:3px 8px;}

.srbtn{position:relative;color:#959595; font-family:Arial; display:block;text-decoration:none; text-align:center; padding:7px 10px; -webkit-transition: all 0.7s ease; transition: all 0.7s ease; text-shadow:none; font-size:11px; font-weight:800; text-transform:uppercase; text-shadow:#FFF 0 1px 0; margin-left:5px; float:right; -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; background:-moz-linear-gradient(center top , #ffffff 1px, #f3f3f3 1px, #e6e6e6) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #b6b6b6; cursor:pointer; line-height:normal;}
.n-content-box p.details{display:none;}
.one_half img{float:left;}

.panel-body_x a img{width:60px; height:60px;}
ul.social{list-style:none;}
ul.social li{list-style:none; width:50px; height:50px; float:left; display:inline-block; margin-bottom:8px;}
ul.social li a img{width:45px; height:45px;}
.re-hom-box{border:1px solid #e6e6e6;border-top:solid 3px #BCD74A;}
.re-hom-box:hover{border:1px solid #BCD74A;border-top:solid 3px #BCD74A;}

.servi-img{float:right;position:absolute; top:50px;right:0;width:50%;z-index:1000;}
.why-dpoj{float:right; height:33.66%;position:absolute;width:40%;}
.remember_me{float:right;top:48px!important;}
.remember_me input{margin:0;}
.popo-btn{float:right; padding:8px 12px!important;}
.popo-btn:hover{float:right; padding:8px 12px!important;}

.font-ser {
    float:right;
	width:100%;
	margin-bottom:15px;
}
.font-ser label {
    color: #888888;
    font-size: 14px;
}
.font-ser label input {
    border: 3px solid #ddd;
    padding: 5px 8px 7px;
    width: 300px;
}
.font-ser label.po-drop {
    border: 3px solid #ddd;
    padding: 0; float:left;
    width:375px;
	margin-right:5px;
}
.font-ser label.po-drop div.select2-container {
    border: medium none !important;
    line-height: 32px!important;
	height:33px;
    padding: 0 !important;
	
}
.font-ser label.po-drop div.select2-container ul {
    border: medium none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.font-ser label.po-drop div.select2-container ul li input {
    margin: 0 !important;
    padding: 0 !important;
}
.srbtn, .res-btn {
    background: -moz-linear-gradient(center top , #ffffff 1px, #f3f3f3 1px, #e6e6e6) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #b6b6b6;
    border-radius: 3px;
    color: #959595!important;
    cursor: pointer;
    display: block;
    float: right;
    font-family: Arial;
    font-size: 11px;
    font-weight: 800;
    line-height: normal;
    margin-left: 5px;
    margin-top:0px;
    padding: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
    transition: all 0.7s ease 0s;
	width:75px!important;
}
a.srbtn:hover, a.res-btn:hover {
    border: 1px solid #b6b6b6;
    color: #959595;
}

.res-btn{padding:12px 10px;}