*, *:before, *:after {
    box-sizing: border-box;
	vertical-align: middle !important;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.site-min-height_x {
    min-height: 500px;
}
.wrapper_x {
    display: inline-block;
    margin-top: -57px;
    padding: 15px;
    width: 100%;
	
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #1FB5AD;
    color: #FFFFFF;}
.row_x {
    margin-left: 70px;
    margin-right: 72px;
}
.row_x:after {
    clear: both;
}

.row_x:before, .row_x:after {
    content: " ";
    display: table;
}
.row_x:before, .row_x:after {
    content: " ";
    display: table;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.col-lg-12 {
    width: 100%;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.hd-title_x {
    font-size: 33px;
    margin:86px 0 45px; 
	color:#D94800;
	font-weight:bold;
}
.col-lg-4 {
    width: 33.333%;
}
.panel_x {
    border: medium none;
    box-shadow: none;
}
.panel_x {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.panel-body_x {
    padding: 15px;
	vertical-align:middle;
}
.panel-body_x:before, .panel-body_x:after {
    content: " ";
    display: table;
}
.panel-body_x:before, .panel-body_x:after {
    content: " ";
    display: table;
}
.panel-body_x:after {
    clear: both;
}
img {
    vertical-align: middle;
}
img {
    border: 0 none;
}
.id-holder{clear:both;}
.id-holder h3{ text-align:center; width:100%; display:block; font-weight:900;} 
.bio h4{font-size: 13px; margin-bottom: 0; min-height:70px; text-align: center;}
.one_fourth-l{width:30.6%!important;float:left; margin-right:4%; margin-bottom:25px; position:relative;}
.staff-role{ text-align:center; color:#C30; text-transform:uppercase; font-weight:900; min-height:50px; }

ul.p-skills {
    font-weight: normal;
    padding-left: 15px;
    text-align: left;
}
ul.p-skills li { background: none repeat scroll 0 0 #fff;
    border: 1px dotted #d0d0d0;
    clear: right;
    color: #333;
    display: inline;
    float: left;
    font-size: 95% !important;
    list-style: none outside none;
    margin-bottom: 4px;
    margin-right: 1%;
    padding: 2px 8px;}

ul.p-skills{min-height:130px;}

.img-holder{float:left; width:200px; margin:13px; height:200px;}
.info-holder{float:left; margin-top:13px; width:113px;}

.year-exp{background:#f7c772;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #000;
    float: left;
    font-weight: normal;
    height: 30px;
    line-height: 29px;
    margin-bottom: 3px !important;
    min-height: 0 !important;
    text-align: left;
    text-indent: 10px;
    text-transform: none !important;
    width: 113px; clear:both!important;}

.bio span.view-btn{float: left !important;
    height: 30px !important;
    line-height: 29px !important;
    margin-right: 0 !important;
    margin-top:0px !important;
    text-align: left;
    text-indent: 8px;
    width: 113px !important; min-height:inherit!important;}



.skill-cls{background:#D3E474; float:left; width:100%; clear:both; line-height:32px; font-size:15px; text-align:center; text-transform:uppercase; color:#fff; margin-bottom:5px;}

.rank {color: #000;
    float: left; text-align:center;
    line-height: 29px;
    margin-bottom: 3px;
    text-indent: 10px;
    width: 113px;}

.rank-count{position:relative; clear:both; margin-bottom:12px; float:left; width:100%; height:100%; text-align:center; font-size:36px; font-weight:900; vertical-align:middle; color:red;}

.inner-pag-title{background:#2991d6;display:block;}

.inner-pag-title .inner{color: #fff;
    display: table;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: lighter;
    line-height: 78px;
    text-align: left;
    text-transform: uppercase;}

	
.page-title{text-transform:uppercase; font-size:35px; margin-bottom:15px; color:#2991d6;}


.reg-pag-title{color: #fff!important; font-family:sans-serif!important; font-size:28px!important;
    font-weight:lighter!important;text-align:left!important; text-transform:uppercase!important;}
.reg-logi{background:#FFF; color:#000; text-align:left; padding:8px; line-height:24px; font-family:sans-serif; font-size:12px;-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; border:none!important; height:30px!important;}


.reg-log-btn{border: medium none !important;
    border-radius: 3px;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    margin-top: 16px !important;
    padding: 7px 0 !important;
    text-transform: uppercase; }
    
.footer-cont {
    background: none repeat scroll 0 0 #7c7c7c;
    border-radius:4px;
    font-family: serif;
    font-size: 14px;
    line-height: 22px;
    padding: 15px 20px;
}

ul.slides li img{height:450px!important;}


@media screen and (min-width:0px) and (max-width:720px){
	.blog_part{display:none;}
	.b_container{width:auto!important;}
	.callOut_Text{padding:0 10px; width:92%!important; text-align:center;}
	#footer{padding:20px 15px!important;}
	#footer .inner { width: 100% !important;}
	.footer-sidebar .one_half{margin-top:15px!important;}
	#footer .inner .copyright { width:90% !important;}
	#back-top{display:none!important;}
	#wrapper{overflow-x:hidden!important;}
	.inner .bann{clear:both; width:100%;}
	.inner .form-signin{clear:both; width:100%;}
	.form-signin .login{clear:both; width:100%; margin-top:0!important;}
	.form-signin .login p{text-align:right;}
	.form-signin .login p #butto{float:left;}
	.form-signin input.reg-logi{width:100%;}
	.flexslider .slides img{height:auto!important;}
}

@media screen and (min-width:720px) and (max-width:1024px){
	.blog_part{display:none;}
	.b_container{width:auto!important;}
	.callOut_Text{padding:0 10px; width:96%!important; text-align:center;}
	#footer{padding:20px 15px!important;}
	#footer .inner { width: 100% !important;}
	.footer-sidebar .one_half{margin-top:15px!important;}
	#footer .inner .copyright { width:90% !important;}
	#back-top{display:none!important;}
	#wrapper{overflow-x:hidden!important;}
	.inner .bann{clear:both; width:100%;}
	.inner .form-signin{clear:both; width:100%;}
	.form-signin .login{clear:both; width:100%; margin-top:0!important;}
	.form-signin .login p{text-align:right;}
	.form-signin .login p #butto{float:left;}
	.form-signin input.reg-logi{width:100%;}
	.flexslider .slides img{height:auto!important;}
}

h4 .headline-middle-line {
    margin-bottom: 6px;
}
.headline-middle-line {
    border-bottom: 1px solid #e3e3e3;
    display: inline-block;
    margin-left: 15px;
    width: 57%;
}

.popo-ul{list-style:none;}

.popo-ul li{font-size:14px;}

.pale-gray-bg {
    background: none repeat scroll 0 0 #f2f2f2;
    transition: background 0.3s ease 0s;
}
.pale-border-bottom {
    border-bottom: 1px solid #ccc;
}
.pale-border-top {
    border-top: 1px solid #ccc;
}
.full-width-container, .fullwidth {
    width: 100%;
}

.padding-bottom48 {
    padding-bottom: 48px;
}
.container {
    max-width: 1140px;
	margin:0 auto;
}

.padding-top48 {
    padding-top: 48px;
}
.col-md-3 {
    width: 33.333%;
	float:left;
	text-align:justify;
}

.relative {
    position: relative;
}
.text-center {
    text-align:left;
}

.po-para{display:flex;}

.po-para p{text-align:justify; padding:0 20px;}

.services-content blockquote{min-height:50px; background:#f7f7f7; float:left; border-left:solid 5px #CCC; padding:18px 20px 30px; margin-bottom:30px;}
.services-content blockquote p{float:left; text-align:justify; color:#333;}
.services-content blockquote h3{float:left; font-weight:600;}

.services-content blockquote:nth-child(2n){border-left:solid 5px #333; background:#fff;}

.hs_contact_heading {
    color: #00ac7a;
    display: inline-block;
    margin: 30px auto;
    padding-bottom: 15px;
    position: relative;
}
.hs_contact_heading:before {
    border-bottom: 2px solid #7f9aa0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -25%;
    position: absolute;
    width: 65px;
}
.hs_contact_heading {
    color: #00ac7a;
    display: inline-block;
    margin: 30px auto;
    padding-bottom: 15px;
    position: relative;
}
.hs_contact_head_text {
    float: left;
    text-align: center;
    width: 100%;
}
.hs_heading, .rounded {
    color: #00ac7a;
    margin: 30px auto;
    padding-bottom: 15px;
    position: relative;
}
.hs_heading:before {
    border-bottom: 2px solid #7f9aa0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 65px;
}
.hs_comment_form {
    border-bottom: 2px solid #00ac7a;
}
.hs_comment_form {
    background: none repeat scroll 0 0 #f5f5f5;
    border-bottom: 2px solid #00ac7a;
    float: left;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
}
.col-lg-6 {
    width: 50%;
}

.hs_comment_form .input-group {
    margin-bottom: 20px;
}
.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
}
.input-group-btn {
    font-size: 0;
    position: relative;
    white-space: nowrap;
}
.input-group-addon, .input-group-btn {
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group-btn > .btn {
    position: relative;
}
.hs_comment_form button {
    padding: 10px 20px;
}
.btn-success {
    background-color: #00ac7a;
    border-color: #00ac7a;
}
.btn-success {
    background-color: #00ac7a;
    border-color: #017d59;
    color: #fff;
}
.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
    margin-right: -1px; border:solid 1px #017d59;
}
.input-group .form-control {
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    color: #555;
    display: block;
    font-size: 14px;
    height: 42px;
    line-height: 1.42857;
    padding: 6px 16px;
    transition: all 0.3s ease 0s;
    width: 100%;
}
textarea.form-control {
    height: auto;
}
.hs_comment_form textarea {
    margin:15px auto;
    resize: none;
    width: 100%;
}
.btn-success {
    background-color: #00ac7a;
    border-color: #00ac7a;
}
.pull-right {
    float: right;
}

.col-lg-4 {
    width: 33.3333%;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
}
.col-md-5 {
    width: 41.6667%;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.col-sm-5 {
    width: 41.6667%;
}
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.hs_contact {
    border-bottom: 2px solid #7f9aa0;
    float: left;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}
.hs_contact p {
   /* line-height: 35px;*/
}
.hs_contact ul {
    list-style: none outside none;
    padding-left: 0;
}
.hs_contact ul li {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    padding-top: 10px;
}
.hs_contact ul li:last-child {
    border-bottom: medium none;
}
.hs_contact ul li i {
    background: none repeat scroll 0 0 #00ac7a;
    border: 1px solid #00996d;
    color: #fff;
    float: left;
    font-size: 28px;
    height: 46px;
    margin-right: 20px;
    padding: 8px 10px;
    text-align: center;
    width: 50px;
}
.hs_contact_social {
    background: none repeat scroll 0 0 #f5f5f5;
    border-bottom: 2px solid #00ac7a;
    float: left;
    padding: 25px 20px 20px;
    width: 100%;
}
.hs_contact_social > .hs_profile_social > ul > li {
    margin-right: 10px;
}
.hs_contact_social > .hs_profile_social > ul > li > a {
    padding: 11px 15px;
}
.hs_contact_social > .hs_profile_social > ul > li > a > i {
    font-size: 20px;
}
.hs_additional_support {
    border-bottom: 2px solid #7f9aa0;
    float: left;
    margin-bottom: 60px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.hs_additional_support:hover h4 {
    color: #00ac7a;
}
.hs_additional_support:hover {
    background: none repeat scroll 0 0 #f9f9f9;
    border-bottom-color: #00ac7a;
    transition: all 0.5s ease 0s;
}

.hs_contact_social > .hs_profile_social > ul > li > a {
    padding: 11px 15px;
}
.hs_profile_social ul li a {
    border: 1px solid #7f9aa0;
    color: #7f9aa0;
    padding: 5px 7px;
    text-align: center;
    transition: all 0.5s ease 0s;
}

.hs_contact_social {
    background: none repeat scroll 0 0 #f5f5f5;
    border-bottom: 2px solid #00ac7a;
    float: left;
    padding: 25px 20px 20px;
    width: 100%;
}
.hs_contact_social > .hs_profile_social > ul > li {
    margin-right: 10px;
}
.hs_contact_social > .hs_profile_social > ul > li > a {
    padding: 11px 15px;
}
.hs_contact_social > .hs_profile_social > ul > li > a > i {
    font-size: 20px;
}
.hs_additional_support {
    border-bottom: 2px solid #7f9aa0;
    float: left;
    margin-bottom: 60px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.hs_additional_support:hover h4 {
    color: #00ac7a;
}
.hs_additional_support:hover {
    background: none repeat scroll 0 0 #f9f9f9;
    border-bottom-color: #00ac7a;
    transition: all 0.5s ease 0s;
}
.hs_icon {
    margin-bottom: 40px;
}
.hs-icon-list {
    margin-top: 22px;
}
.hs-icon-list .fa-hover a {
    border-radius: 4px;
    color: #222222;
    display: block;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
}
.hs-icon-list .fa-hover a .fa {
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    text-align: right;
    width: 32px;
}
.hs-icon-list .fa-hover a:hover {
    background-color: #00ac7a;
    color: #ffffff;
    text-decoration: none;
}
.hs-icon-list .fa-hover a:hover .fa {
    font-size: 28px;
    vertical-align: -6px;
}
.hs-icon-list .fa-hover a:hover .text-muted {
    color: #bbe2d5;
}
.hs_profile_social ul li {
    display: inline-block;
}

.col-lg-4 {
    width: 33.3333%;
}
.col-lg-8 {
    width: 66.6667%;
}

.col-md-12 {
    width: 100%;
}

#timeline-wrap {
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 30px;
}
#timeline-wrap h3 {
    color: #000;
    font-size: 20px;
    margin: 0 0 25px;
    text-align: center;
    text-transform: uppercase;
}
#timeline {
    background: none repeat scroll 0 0 #fff;
    list-style: none outside none;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}
#timeline:before {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #0db1fd;
    bottom: 10px;
    content: "";
    height: 23px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transform: rotate(45deg);
    transition: all 0.4s ease 0s;
    width: 23px;
    z-index: 999;
}
#timeline:after {
    background: none repeat scroll 0 0 #0db1fd;
    bottom: 0;
    content: "";
    height: 98%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 1%;
    width: 1px;
    z-index: -1;
}
#timeline li {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    clear: both;
    cursor: pointer;
    float: left;
    margin: 0 0 -53px !important;
    padding: 20px 25px;
    position: relative;
    text-align: right;
    transition: all 0.3s ease 0s;
    width: 42.5%;
}
#timeline li:last-child {
    margin: 0 !important;
}
#timeline li:nth-of-type(2n+1), #timeline li:nth-of-type(2n) {
    margin: -10px 0 0;
}
#timeline li:nth-of-type(2n) {
    float: right;
    text-align: left;
}
#timeline li:nth-of-type(2n):after {
    background: -moz-linear-gradient(0px 50% , #f43059, #d8d566) repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: auto;
    right: 100%;
}
#timeline .t-time {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
#timeline .t-left .t-time:before {
    background: none repeat scroll 0 0 #0db1fd;
    bottom: -12px;
    content: "";
    height: 2px;
    position: absolute;
    right: 0;
    width: 30px;
}
#timeline .t-right .t-time:before {
    background: none repeat scroll 0 0 #0db1fd;
    bottom: -12px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 30px;
}
#timeline .t-time span {
    color: #000;
    display: block;
    font-family: Roboto;
    font-size: 13px;
}
#timeline p {
    color: #a6a6a6;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    margin: 0;
    padding: 22px 0 0;
}
.t-left {
    position: relative;
}
.t-left:after {
    border-color: transparent #0db1fd;
    border-style: solid;
    border-width: 10px 0 11px 10px;
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: 13px;
    width: 0;
    z-index: 1;
}
.t-left:before {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #0db1fd;
    content: "";
    height: 25px;
    position: absolute;
    right: -20.7%;
    top: 10px;
    transform: rotate(45deg);
    transition: all 0.4s ease 0s;
    width: 25px;
    z-index: 999;
}
.t-right:before {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #0db1fd;
    content: "";
    height: 25px;
    left: -20.7%;
    position: absolute;
    top: 10px;
    transform: rotate(45deg);
    transition: all 0.4s ease 0s;
    width: 25px;
    z-index: 999;
}
.t-left:hover:before, .t-right:hover:before {
    border: 7px solid #0db1fd;
    content: "";
    height: 25px;
    transition: all 0.4s ease 0s;
    width: 25px;
}
.t-right {
    position: relative;
}
.t-right:after {
    border-color: transparent #0db1fd;
    border-style: solid;
    border-width: 10px 11px 10px 0;
    content: "";
    display: block;
    left: -10px;
    position: absolute;
    top: 13px;
    width: 0;
    z-index: 1;
}
#timeline li:hover {
    background: none repeat scroll 0 0 #0db1fd;
    transition: all 0.3s ease 0s;
}
#timeline li:hover .t-time, #timeline li:hover .t-time span, #timeline li:hover p {
    color: #fff;
    transition: all 0.3s ease 0s;
}
#timeline .t-right:hover .t-time:before, #timeline .t-left:hover .t-time:before {
    background: none repeat scroll 0 0 #fff;
    transition: all 0.3s ease 0s;
}

#timeline li:nth-of-type(2n+1), #timeline li:nth-of-type(2n) {
    margin: -10px 0 0;
}