.aboutpage_section {

    background-color: #FFFFFF;

    float: left;

    margin-top: -20px;

    padding: 21px 0;

    width: 100%;

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);

    border: 0 none;

    font-size: 100%;

    margin: 0;

    outline: 0 none;

    padding: 0;

    vertical-align: baseline;

}

.a_clearfix:after {

    clear: both;

    content: " ";

    display: block;

    font-size: 0;

    height: 0;

    visibility: hidden;

}

.a_clearfix {

    display: block;

}

.our_team {

    background-color: #EEEEEE;

    float: left;

    padding: 17px 0;

    text-align: center;

    width: 100%;

}

.b_container {

    margin: auto;

    width: 1170px;

}

.our_team h1 {

    font-size: 40px;

    font-weight: normal;

    margin: 0 0 50px;

    padding: 0;

    text-transform: uppercase;

}

h1 {

    font-size: 40px;

    font-style: normal;

    line-height: 40px;

    margin-bottom: 22px;

}

/*h1, h2, h3, h4, h5, h6 {

    color: #333333;

    font-family: 'Roboto',sans-serif;

    font-weight: normal;

}*/

strong {

    font-weight: bold;

}

.our_team h1 i {

    color: #727272;

    display: block;

    font-size: 18px;

    font-style: normal;

    font-weight: 300;

    line-height: 22px;

    padding-top: 18px;

}

cite, em, i {

    font-style: italic;

}

.our_team .one_fourth {

    background-color: #FFFFFF;

    border-radius: 4px;

    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);

    float: left;

    margin-right: 2%;

    padding: 40px 2%;

    width: 19.5%;

}

.one_fourth {

    width: 22%;

}

.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth {

    float: left;

    margin-right: 4%;

    position: relative;

}



a {

    color: #0CBABB;

    text-decoration: none;

}

.our_team .one_fourth img {

    border-radius: 4px;

    width: 94%;

}



.mar_top2 {

    float: left;

    margin-top: 20px;

    width: 100%;

}



p {

    font: 14px/22px 'Open Sans',sans-serif;

}

.c_last {

    clear: right;

    margin-right: 0 !important;

}

#parallax_01 {

    /*background-attachment: fixed;*/

    background-clip: initial;

    background-color: rgba(0, 0, 0, 0);

    background-image: url(../image/para-bg1.jpeg);

    background-origin: initial;

    background-position: 100% 0;

    background-repeat: no-repeat;

    background-size: cover;

    float: left;

    min-height: 100px;

    padding: 100px 0;

    position: relative;

    text-align: center;

    width: 100%;

}

.parallax_sec1 {

    float: left;

    width: 100%;

}

.parallax_sec1 h1 {

    color: #FFFFFF;

    font-size: 58px;

    line-height: 58px;

    margin-bottom: 30px;

    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    text-transform: uppercase;

}



.parallax_sec1 h2 {

    color: #FFFFFF;

    font-weight: 300;

}

h2 {

    font-size: 27px;

    font-style: normal;

    line-height: 27px;

    margin-bottom: 22px;

}

.mar_top3 {

    float: left;

    margin-top: 30px;

    width: 100%;

}

.parallax_sec1 a.but_transp {

    background: url("images/opacity-line.png") repeat scroll left top rgba(0, 0, 0, 0);

    border: 1px solid #E3E3E3;

    border-radius: 4px;

    color: #FFFFFF;

    font-size: 18px;

    font-weight: 300;

    margin: 0;

    padding: 13px 30px;

    text-transform: uppercase;

}

.our_team .one_fourth:hover {

    background-color: #F26522 !important;

    color: #FFFFFF !important;

}

.parallax_sec1 a.but_transp:hover {

    background: none repeat scroll 0 0 #F26522 !important;

    color: #FFFFFF !important;

}

.blog_part{

    height:350px;}





.section_bg2 {

    position: absolute;

    top: 0;

    background-size: cover;

    /*background-attachment: fixed;*/

    /*background-size: 100% 100%;*/

    z-index: 1;

    width: 100%;

    /*height: 100%;*/

    -webkit-touch-callout: none;

    -webkit-user-select: none;

    -khtml-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;

}

.section_inner2 { padding:30px 0;}

.section_inner2 {

    width:1149px;

    margin:0 auto;

    /*position:relative;*/

    z-index:3;

}



.last2{

    margin-bottom: 95px;

    margin-right: 0 !important;}



.login{

    float:right;
    position: relative !important;
    margin-right:10px;

}

.bann{color: #444444;

    float: left;

    font-size: 22px;

    font-weight: 700;

    letter-spacing: -1px;

    line-height: normal;

    margin-bottom: 4px;

    margin-top:10px;}



.butto{margin-top:19px;

}



#butto{

    background-color: #333333;

    color: #FFFFFF;

    padding: 4px;

    width: 61px;

}

.logi{

    height:23px;

}

.rounded{

    border: 2px solid #B2B2B2;

    border-radius:50%;

    height: 30px;

    width: 30px;

    margin:0 auto;}

.rounded_in{



}

.middl{
    text-align: center;
}

.clor{ color:#D94800;}

.forgot-pass{background:#FFF!important; font-size:13px; text-transform:uppercase; color:#333!important; padding:4px 10px!important; margin-top:15px; float:right;}

.forgot-pass-btn{background:#2991d6!important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:13px; text-transform:uppercase; color:#fff!important; padding:13px 10px!important; margin-top:0!important; margin-left:15px; float:left!important;}

.forgot-field{background:#FFF; border:solid 1px #CCC; text-align:left; color:#333; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:13px; padding:5px 7px; width:100%;}

.popo-ablog{margin-bottom:0!important; padding-bottom:1px!important;}
.popo-ablog:hover{margin-bottom:0!important; padding-bottom:1px!important;}

.ho-morein{border:solid 1px #e4e4e4; font-size:11px; text-transform:uppercase; margin-top:10px; float:right; margin-right:37%; padding:3px 10px; -moz-border-radius:3px;
-webkit-border-radius:3px;border-radius:3px;-khtml-border-radius:3px; color:#333;}


.top-engi-box {width:100%; height:287px; display:inline-block; padding:15px; margin-left:auto; margin-right:auto; left:0px; position:relative; border:none; background:#f7f7f7; 
  border-radius:4px; margin-bottom:30px; box-shadow:inset 0px 1px 0px #7CB5D2, 0px 5px 0px 0px #7CB5D2, 0px 10px 5px #bfbfbf;}

.top-engi-box:nth-child(2){box-shadow:inset 0px 1px 0px #FEE05E, 0px 5px 0px 0px #FEE05E, 0px 10px 5px #bfbfbf;}
.top-engi-box:nth-child(3){box-shadow:inset 0px 1px 0px #104476, 0px 5px 0px 0px #104476, 0px 10px 5px #bfbfbf;}
.top-engi-box:nth-child(4){box-shadow:inset 0px 1px 0px #BCD74A, 0px 5px 0px 0px #BCD74A, 0px 10px 5px #bfbfbf;}
.top-engi-box:nth-child(5){box-shadow:inset 0px 1px 0px #FEE05E, 0px 5px 0px 0px #FEE05E, 0px 10px 5px #bfbfbf;}
.top-engi-box:nth-child(6){box-shadow:inset 0px 1px 0px #01A58D, 0px 5px 0px 0px #01A58D, 0px 10px 5px #bfbfbf;}
.top-engi-box:nth-child(7){box-shadow:inset 0px 1px 0px #01A58D, 0px 5px 0px 0px #01A58D, 0px 10px 5px #bfbfbf;}
.top-engi-box:nth-child(8){box-shadow:inset 0px 1px 0px #01A58D, 0px 5px 0px 0px #01A58D, 0px 10px 5px #bfbfbf;}
.top-engi-box:nth-child(9){box-shadow:inset 0px 1px 0px #01A58D, 0px 5px 0px 0px #01A58D, 0px 10px 5px #bfbfbf;}
.top-engi-box:nth-child(10){box-shadow:inset 0px 1px 0px #01A58D, 0px 5px 0px 0px #01A58D, 0px 10px 5px #bfbfbf;}


.top-engi-box span { background:#fff; padding:0 2px; border:double; border-color:#d0d0d0;  width:100%;height:257px; display:block;text-shadow: 1px 1px 2px #07526e;}

.top-engi-box span .left{float:left; width:25%; background:#fff; height:98%; margin:2px 0;}
.top-engi-box span .mid{float:left; width:49.44%; margin:0 3px; background:#fff; border-left:double; border-color:#d0d0d0; border-right:double; border-color:#d0d0d0; height:100%;}
.top-engi-box span .mid p{text-shadow:none; padding:7px 10px; font-size:13px; line-height:18px; font-family:Arial; text-align:justify;}
.top-engi-box span .right{float:left; width:25%; background:#fff; height:100%; height:98%; margin:2px 0;}

.top-engi-box span .left span{background:url(../image/name.png) 230px 9px no-repeat #fff; border-left-color:#f60; color:#555555; float: left; font-family:Arial; font-size:13px; height:24.5%; line-height:50px; margin-bottom:2px; text-indent:8px; text-shadow:none; text-transform:uppercase; width:100%;}

.top-engi-box span .left span b{color:#f60; font-weight:900;}
.top-engi-box span .left span a{font-weight:900; color:#333; text-decoration:none;}
.top-engi-box span .left span a:hover{color:#f60;}

.top-engi-box span .left span:nth-child(2) {border-left-color:#AD2320; background:url(../image/rank.png) 230px 9px no-repeat #fff;}
.top-engi-box span .left span:nth-child(3) {border-left-color:#104476; background:url(../image/age.png) 235px 5px no-repeat #fff;}
.top-engi-box span .left span:nth-child(4) {border-left-color:#a4bf32; background:url(../image/expr.png) 225px 9px no-repeat #fff;}

.top-engi-box span .left span:nth-child(2) b {color:#AD2320; font-weight:900;}
.top-engi-box span .left span:nth-child(3) b {color:#104476; font-weight:900;}
.top-engi-box span .left span:nth-child(4) b {color:#a4bf32; font-weight:900;}

.push_button{position:relative;	width:100%; color:#fff; display:block;	text-decoration:none; text-align:center; padding:8px 0px; -webkit-transition: all 0.7s ease; transition: all 0.7s ease; text-shadow:none; font-size:12px; text-transform:uppercase; font-weight:900; background:#D94E3B; margin-bottom:3px; margin-top:2px; border-left: 3px solid #a31816;}

.push_button2{position:relative;width:100%; background:#a4bf32; color:#FFF; display:block;	text-decoration:none;text-align:center; padding:8px 0px; -webkit-transition: all 0.7s ease; transition: all 0.7s ease; text-shadow:none; font-size:12px; text-transform:uppercase; font-weight:900;  margin-bottom:3px;border-left: 3px solid #7a9508;}	


.push_button3{position:relative;width:100%; background:#F78D51; color:#FFF; display:block;	text-decoration:none;text-align:center; padding:8px 0px; -webkit-transition: all 0.7s ease; transition: all 0.7s ease; text-shadow:none; font-size:12px; text-transform:uppercase; font-weight:900; margin-bottom:3px;border-left: 3px solid #d3692d;}	


.push_button4{position:relative;width:100%; background:#104476; color:#FFF; display:block;	text-decoration:none;text-align:center; padding:8px 0px; -webkit-transition: all 0.7s ease; transition: all 0.7s ease; text-shadow:none; font-size:12px; text-transform:uppercase; font-weight:900; margin-bottom:3px; border-left: 3px solid #001749;}	


.push_button5{position:relative;width:100%; background:#7CB5D2; color:#FFF; display:block;	text-decoration:none;text-align:center; padding:8px 0px; -webkit-transition: all 0.7s ease; transition: all 0.7s ease; text-shadow:none; font-size:12px; text-transform:uppercase; font-weight:900; margin-bottom:3px; border-left: 3px solid #5089a6;}	

.push_button6{position:relative;width:100%; background:#BB93B6; color:#FFF; display:block;	text-decoration:none;text-align:center; padding:8px 0px; -webkit-transition: all 0.7s ease; transition: all 0.7s ease; text-shadow:none; font-size:12px; text-transform:uppercase; font-weight:900; border-left: 3px solid #946c8f;}


.remember_me{
    position: absolute !important;
    left:-388px !important;
}







