*, *:before, *:after {
    box-sizing: border-box;
	vertical-align: middle !important;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.site-min-height_x {
    min-height: 500px;
}
.wrapper_x {
    display: inline-block;
    margin-top: -57px;
    padding: 15px;
    width: 100%;
	
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #1FB5AD;
    color: #FFFFFF;}
.row_x {
    margin-left: 70px;
    margin-right: 72px;
}
.row_x:after {
    clear: both;
}

.row_x:before, .row_x:after {
    content: " ";
    display: table;
}
.row_x:before, .row_x:after {
    content: " ";
    display: table;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.col-lg-12 {
    width: 100%;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.hd-title_x {
    font-size: 33px;
    margin:86px 0 45px; 
	color:#D94800;
	font-weight:bold;
}
.col-lg-4 {
    width: 33.333%;
}
.panel_x {
    border: medium none;
    box-shadow: none;
}
.panel_x {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.panel-body_x {
    padding: 15px;
	vertical-align:middle;
}
.panel-body_x:before, .panel-body_x:after {
    content: " ";
    display: table;
}
.panel-body_x:before, .panel-body_x:after {
    content: " ";
    display: table;
}
.panel-body_x:after {
    clear: both;
}
img {
    vertical-align: middle;
}
img {
    border: 0 none;
}
.id-holder{clear:both;}
.id-holder h3{ text-align:center; width:100%; display:block; font-weight:900;} 
.bio h4{font-size: 13px; margin-bottom: 0; min-height:70px; text-align: center;}
.one_fourth-l{width:30.6%!important;float:left; margin-right:4%; margin-bottom:25px; position:relative;}
.staff-role{ text-align:center; color:#C30; text-transform:uppercase; font-weight:900; min-height:50px; }

ul.p-skills {
    font-weight: normal;
    padding-left: 15px;
    text-align: left;
}
ul.p-skills li { background: none repeat scroll 0 0 #fff;
    border: 1px dotted #d0d0d0;
    clear: right;
    color: #333;
    display: inline;
    float: left;
    font-size: 95% !important;
    list-style: none outside none;
    margin-bottom: 4px;
    margin-right: 1%;
    padding: 2px 8px;}

ul.p-skills{min-height:130px;}

.img-holder{float:left; width:200px; margin:13px; height:200px;}
.info-holder{float:left; margin-top:13px; width:113px;}

.year-exp{background:#f7c772;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #000;
    float: left;
    font-weight: normal;
    height: 30px;
    line-height: 29px;
    margin-bottom: 3px !important;
    min-height: 0 !important;
    text-align: left;
    text-indent: 10px;
    text-transform: none !important;
    width: 113px; clear:both!important;}

.bio span.view-btn{float: left !important;
    height: 30px !important;
    line-height: 29px !important;
    margin-right: 0 !important;
    margin-top:0px !important;
    text-align: left;
    text-indent: 8px;
    width: 113px !important; min-height:inherit!important;}



.skill-cls{background:#D3E474; float:left; width:100%; clear:both; line-height:32px; font-size:15px; text-align:center; text-transform:uppercase; color:#fff; margin-bottom:5px;}

.rank {color: #000;
    float: left; text-align:center;
    line-height: 29px;
    margin-bottom: 3px;
    text-indent: 10px;
    width: 113px;}

.rank-count{position:relative; clear:both; margin-bottom:12px; float:left; width:100%; height:100%; text-align:center; font-size:36px; font-weight:900; vertical-align:middle; color:red;}

a.re-logour{margin:-4px 0 0 0!important; line-height:unset!important;padding: 1px 0 !important;}
a.re-logour:hover{line-height:inherit!important; margin-top:-4px 0 0 0!important;}

.get-stbtn{-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
ul.r-foot li a{font-family:sans-serif!important; font-size:14px!important;}

.footer-cont{background: none repeat scroll 0 0 #7c7c7c;
    font-family: serif;
    font-size: 14px;
    line-height: 22px;
    padding: 15px 20px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}

.copyright_left, .copyright_left a, .copyright_right{font-size:13px!important; text-decoration:none; vertical-align: top !important; font-family:sans-serif!important;}

.inner-pag-title{background:#2991d6;display:block;}

.inner-pag-title .inner{color: #fff;
    display: table;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: lighter;
    line-height: 78px;
    text-align: left;
    text-transform: uppercase;}

	
.page-title{text-transform:uppercase; font-size:35px; margin-bottom:15px; color:#2991d6;}


.reg-pag-title{color: #fff!important; font-family:sans-serif!important; font-size:28px!important;
    font-weight:lighter!important;text-align:left!important; text-transform:uppercase!important;}
.reg-logi{background:#FFF; color:#000; text-align:left; padding:8px; line-height:24px; font-family:sans-serif; font-size:12px;-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; border:none!important; height:30px!important;}


.reg-log-btn{border: medium none !important;
    border-radius: 3px;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    margin-top: 16px !important;
    padding: 7px 0 !important;
    text-transform: uppercase; }


