.inner {

    margin: 0 auto;

    position: relative;

    width: 1149px;

}

.bann {

    color: #444444;

    float: left;

    font-size: 22px;

    font-weight: 700;

    letter-spacing: -1px;

    line-height: normal;

    margin-bottom: 4px;

    margin-top: 10px;

}

.butto {

    margin-top:-41px;

}

.login {

    float: right;
    position: relative !important;
    margin-right: 10px;

}

#butto {

    background-color: #333333;

    color: #FFFFFF;

    padding: 4px;

    width: 61px;

}



.logi {

    height: 23px;

}

input, select, textarea {

    color: #3B3B3B;

    font: 13px/1.6 'Open Sans','Helvetica-Neue',Helvetica,Arial,Sans-serif;

}

.login-title{

    font-size: 27px;

    font-weight: 300;

    margin: 40px 0 0;}



.flo-right{

    float:right;

    margin-top:-37px;}



.form-dark2 {

    background: none repeat scroll 0 0 #F1F1F1;

    border: 1px solid #DBDBDB;

    box-shadow: none;

    height: 46px;

}

.forgot-pass{background:#FFF!important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:13px; text-transform:uppercase; color:#333!important; padding:5px 10px!important; margin-top:25px; float:right;}

.forgot-pass-btn{background:#2991d6!important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:13px; text-transform:uppercase; color:#fff!important; padding:9px 10px!important; display:block; width:170px!important; float:left!important; margin-left:15px; margin-top:0!important;}

.forgot-field{background:#FFF; border:solid 1px #CCC; text-align:left; color:#333; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:13px; padding:5px 7px; width:100%;}


.remember_me{
    position: absolute !important;
    left:-570px !important;
}
	

