
*, *:before, *:after {

    box-sizing: border-box;

    vertical-align: middle !important;

}

*, *:before, *:after {

    box-sizing: border-box;

}

.site-min-height_x {

    min-height: 500px;

}

.wrapper_x {

    display: inline-block;

    margin-top: -57px;

    padding: 15px;

    width: 100%;



}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {

    display: block;

}

*, *:before, *:after {

    box-sizing: border-box;

}

*::-moz-selection {

    background: none repeat scroll 0 0 #1FB5AD;

    color: #FFFFFF;}

.row_x {

    margin-left: 70px;

    margin-right: 72px;

}

.row_x:after {

    clear: both;

}



.row_x:before, .row_x:after {

    content: " ";

    display: table;

}

.row_x:before, .row_x:after {

    content: " ";

    display: table;

}

*, *:before, *:after {

    box-sizing: border-box;

}

.col-lg-12 {

    width: 100%;

}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {

    float: left;

}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {

    min-height: 1px;

    padding-left: 15px;

    padding-right: 15px;

    position: relative;

}

.hd-title_x {

    font-size: 33px;
    text-align:center;
    margin:86px 0px 45px;

    color:#D94800;

    font-weight:bold;

}

.col-lg-4 {

    width: 33.333%;

}

.panel_x {

    border: medium none;

    box-shadow: none;

}

.panel_x {

    background-color: #FFFFFF;

    border: 1px solid rgba(0, 0, 0, 0);

    border-radius: 4px;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

    margin-bottom: 20px;

}

.panel-body_x {

    padding: 15px;

    vertical-align:middle;

}

.panel-body_x:before, .panel-body_x:after {

    content: " ";

    display: table;

}

.panel-body_x:before, .panel-body_x:after {

    content: " ";

    display: table;

}

.panel-body_x:after {

    clear: both;

}

img {

    vertical-align: middle;

}

img {

    border: 0 none;

}

.quiz_test{

    margin-left:100px;

    margin-bottom:50px;}



.quiz_box{

    margin-left:150px;

    margin-bottom:50px;

}

@media screen and (min-width:0px) and (max-width:720px){
    .container div h4.reg-pag-title{clear: both !important; float: left !important; width: 100% !important;}
    .main-page-title{padding-top:15px!important;}
    .container .form-signin{clear:both; width:100%;}
    .form-signin .login{clear:both; width:100%; margin-top:0!important;}
    .form-signin .login p{text-align:right;}
    .form-signin .login p #butto{float:left;}
    .form-signin input.reg-logi{width:100%;}
    .butto .reg-log-btn{margin-right:16px!important;}
    .form-signin .flo-right{float:none!important; margin-top:0!important;}
    .content-about .col-lg-4{width:100%; text-align:center;}
    .content-about .row .col-lg-6{width:90%;}
    .content-about .row .col-lg-6 .contact_form .btn-blue{width:100%!important; padding:10px 0!important;}
}

@media screen and (min-width:720px) and (max-width:1024px){
    .container div h4.reg-pag-title{clear: both !important; float: left !important; width: 100% !important;}
    .main-page-title{padding-top:15px!important;}
    .container .form-signin{clear:both; width:100%;}
    .form-signin .login{clear:both; width:100%; margin-top:0!important;}
    .form-signin .login p{text-align:right;}
    .form-signin .login p #butto{float:left;}
    .form-signin input.reg-logi{width:100%;}
    .butto .reg-log-btn{margin-right:16px!important;}
    .form-signin .flo-right{float:none!important; margin-top:0!important;}
    .content-about .col-lg-4{width:100%; text-align:center;}
    .content-about .row .col-lg-6{width:90%;}
    .content-about .row .col-lg-6 .contact_form .btn-blue{width:100%!important; padding:10px 0!important;}
}